#formulario{
    width: auto;
    margin-top: 10px;
    margin: 30px;
    padding: 0.5px;
    text-align: center;
    
}

.login{
  margin: 10px;
}

#logo{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
      
}


.container{
   
    color: black;  
    margin: auto;  
    text-align: center;
    display: block;

}

a{
    color: whitesmoke;
    text-align: center;
    display: block;
    margin: 10px;
   
}

h2{
    color: yellow;
    display: block;
    text-align: center;
}


#login{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#item{
    margin: 20px;
    text-align: center;
    padding: 20px;
}

.btn{
    display: block;
    margin: 20px;
}