<ion-header [translucent]="true">
  <ion-toolbar id="color_barra">
    <ion-title>
      Bienvenido: <br>{{ usuario }} {{ apellido }}
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="color_background" [fullscreen]="true" >

  <div class="asistencia">
    <h3>Asistencias</h3>
  </div>
  <div class="lista">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Id Clase: {{asignatura}}</ion-card-subtitle>
        <ion-card-title>Asignatura{{id_clase}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Nombre Usuario: {{usuario}}
      </ion-card-content>
    </ion-card>
  
  </div>


  <ion-button  class="btn-ingresar" type="submit" color="primary"  
    [routerLink]="['/scanner']" >Scanear</ion-button>
  
  <div class="title">
    <h2>Noticias e Intereses</h2>
  </div>
  
  <!-- CARTAS DE INTERES -->
  <ion-card class="card">
    <a title="duoc" href="http://www.duoc.cl"><img src="assets/images/sede.jpg" /></a>
    <ion-card-header>
      <ion-card-title>Padre Alonso De Ovalle</ion-card-title>
      <ion-card-subtitle>Informaciones</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Hackaton 2022 Intersedes, se llevara a cabo en PAO
    </ion-card-content>
  </ion-card>
 
  <ion-button  class="btn-ingresar" type="submit" color="danger"  
    [routerLink]="['/login']" >Cerrar Sesion</ion-button>

  <!-- FOOTER -->
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="btn-ingresar" type="submit" color="primary"><a href="tel:+56227120640">Contactanos</a></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="btn-ingresar" type="submit" color="primary"  
    [routerLink]="['/recuperar-pass']" >Cambiar Contreaseña</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

