.container-username{
    text-align: center;
    display: block;
    
}

.login{
    color: black;  
    margin: auto;  
    text-align: center;
    display: block;
}

#pass{
    margin: 10px;
    text-align: center;
    padding: 10px;
}

.container{
    display: block;
    text-align: center;
}

h3{
    color:yellow;
}

.item{
    margin: 20px;
}

.btn-ingresar{
    margin: 10px;
}


#logo{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 30%;
      
}