<ion-header>
  <ion-toolbar id="color_barra">
    <ion-title>Cambio de <br>Constraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="color_background">
  <div class="login">

    <ion-item class="item">
      <ion-label position="floating">Correo Duoc</ion-label>
      <ion-input autofocus="true"  [(ngModel)]="mdl_correo"></ion-input>
    </ion-item >
    <ion-item class="item">
      <ion-label position="floating" >Nueva contraseña</ion-label>
      <ion-input autofocus="true" type="password"  [(ngModel)]="mdl_contrasenaNueva"></ion-input>
    </ion-item>
    <ion-item class="item">
      <ion-label position="floating" >Contraseña actual</ion-label>
      <ion-input autofocus="true" type="password"  [(ngModel)]="mdl_contrasenaActual"></ion-input>
    </ion-item>

  
  </div>

  <div class="container">
    <ion-button  class="btn-ingresar" type="submit" color="primary"  expand=block (click)="modificarContrasena()">
    Restablecer Constraseña</ion-button>
    <ion-button  class="btn-ingresar" color="danger"  expand=block [routerLink]="['/home']" >
     volver Home</ion-button>
  </div>

  <ion-img id="logo" src="assets/images/logo1.png" ></ion-img>
</ion-content>
